<h2 [ngStyle]='g.font("Roboto Flex", "sans-serif", "semibold", "wdth:130.0", "slnt:-5", "opsz:22.2", "GRAD:100").obj'>Roboto Flex</h2>
<p className="all-small" [ngStyle]="styleP()">the quick brown fox jumps over the lazy dog</p>
<p className="all-digits" [ngStyle]="styleP()" [ngStyle]='g.font("Roboto Flex", "sans-serif", "medium", "GRAD:100").obj'>0123456789</p>
<p className="all-caps" [ngStyle]="styleP()" [ngStyle]='g.font("Roboto Flex", "sans-serif", "600", "slnt:-5").obj'>ABC DEF GHI JKL MNO PQRS TUV WXYZ</p>
